@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #8bbece;
}

h1 {
  color: #4f5768;
  text-align: center;
  font-size: 60px;
  line-height: 2.5;
  letter-spacing: 15px;
  text-shadow: 0px 0px 40px white;
}

.accordion {
  font-family: "latto", sans-serif;
  background: linear-gradient(45deg, lightblue, #fefefe, #b9b9b9);
  box-sizing: border-box;
  width: 1140px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;
}
.accordion * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.accordion__item:not(:first-of-type) {
  border-top: 1px solid #333;
}
.accordion__q {
  position: relative;
  border-width: 0;
  display: block;
  color: #333;
  background: rgba(0, 0, 85, 0.1);
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  padding: 15px 20px 15px 50px;
  box-shadow: inset 0 0 20px rgba(51, 51, 51, 0.514);
  transition: all 0.1s;
}
.accordion__q:before {
  color: #333;
  content: "‹";
  position: absolute;
  font-size: 30px;
  width: 10px;
  height: 38px;
  text-align: center;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%) rotate(270deg);
  transform-origin: center;
  transition: transform 0.3s, color 0.3s;
}
.accordion__q:not(:first-of-type) {
  border-top: 1px solid #333;
}
.accordion__q:hover {
  background: rgba(70, 70, 90, 0.4);
  color: #fefefe;
}
.accordion__q:active, .accordion__q:focus {
  outline: none;
}
.accordion__q.active {
  background: rgba(70, 70, 90, 0.4);
  color: white;
}
.accordion__q.active:before {
  color: white;
  transform: translate(0, -50%) rotate(90deg);
  transform-origin: center;
}
.accordion__a-wrapper {
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in;
}
.accordion__a-wrapper.active {
  transition: height 0.3s ease-in;
}
.accordion__a-wrapper.active .accordion__a {
  opacity: 1;
  transition: opacity 0.6s ease-in;
}
.accordion__a {
  color: #666;
  padding: 20px;
  font-size: 19px;
  opacity: 0;
  border-top: 1px solid #333;
  transition: opacity 0.3s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #cfcfcf;
}

.slider {
  font-family: sans-serif;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto 50px auto;
}
.slider__wrapper {
  display: flex;
  width: auto;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}
.slider__wrapper--fade {
  position: relative;
  display: block;
  width: 100%;
}
.slider__wrapper--fade .slider__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 1.5s ease;
}
.slider__wrapper--fade .slider__item.active, .slider__wrapper--fade .slider__item:first-of-type {
  opacity: 1;
  z-index: 2;
}
.slider__wrapper--fade .slider__item.inactive {
  opacity: 0;
  z-index: 0;
}
.slider__title {
  letter-spacing: 3px;
  font-size: 65px;
  color: #ffda08;
  text-shadow: 0 0 10px #3f3f3f;
}
.slider__button {
  padding: 12px 60px;
  background-color: rgba(0, 0, 0, 0.65);
  border: 1px solid white;
  color: white;
  text-decoration: none;
}
.slider__button:hover {
  color: #fbff08;
  border: 1px solid #fbff08;
}
.slider__item {
  min-width: 100%;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 5%;
}
.slider__arrow {
  font-family: fangsong;
  display: flex;
  line-height: 60px;
  justify-content: space-around;
  font-size: 60px;
  color: #dddada;
  border: none;
  outline: none;
  width: 5%;
  min-width: 40px;
  height: 12%;
  min-height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  z-index: 3;
}
.slider__arrow:hover {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  cursor: pointer;
}
.slider__arrow--disabled {
  opacity: 0.45;
  pointer-events: none;
}
.slider__arrow--disabled:hover {
  color: #dddada;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
}
.slider__arrow--left {
  left: 0;
  transform: translate(0, -50%);
}
.slider__arrow--right {
  right: 0;
  left: auto;
  transform: translate(0, -50%);
}
.slider__bulletBox {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  height: 20px;
  justify-content: space-between;
}
.slider__bullet {
  appearance: button;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.295);
  border: 2px solid #b3b1b1;
  transition: all 0.2s ease;
}
.slider__bullet:hover {
  border-color: #ffffff;
}
.slider__bullet--active {
  border: 2px solid cfff;
  background: #ffffff;
}

/*# sourceMappingURL=main.css.map */
